@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

body{
  font-family: 'Ubuntu', sans-serif;
  padding-top: 70px;
}

html, body, header{
  overflow-x: hidden;
  padding-right: 0 !important;
}

.navbar{
  padding-right: 0 !important;
}


.btn{
  border-radius: 30px;
  border: 2px solid #FFFFFF;
  padding: 15px 50px;
  font-weight: 600;
}

.btn-primary{
  background-color: #4527A4;
}

.btn-primary:hover{
  background-color: #FFFFFF;
  border: 2px solid #4527A4;
  color: #4527A4;
}

.btn-primary:not(:disabled):not(.disabled):active{
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  color: #4527A4;
}

.btn-primary:focus{
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  color: #4527A4;
  box-shadow: none;
}

.btn-outline-primary{
  background: radial-gradient(450px 150px at right, #4527A4 50%, #FFFFFF 50%);
  background-size: 200%;
  border: 2px solid #4527A4;
  color: #4527A4;
  position: relative;
  padding-right: 80px;
  transition: .4s ease-in-out;
}

.btn-outline-primary:hover{
  border: 2px solid #4527A4;
  background-position: right;
}

.btn-outline-primary:not(:disabled):not(.disabled):active{
  border: 2px solid #4527A4;
  background-color: #4527A4;
}

.btn-outline-primary::after{
  content: '﹥';
  font-size: 32px;
  color: #FFFFFF;
  position: absolute;
  background-color: #4527A4;
  border-radius: 50%;
  top: 0;
  right: 0;
  width: 54px;
  height: 54px;
}

.btn-learn{
  margin-top: 50px;
}

.bg-custom{
  background-color: #4527A4;
}

.separator{
  display: inline-block;
  margin: 30px 0 0 0;
  width: 25%;
  border: 1px solid #CCCCCC;
  position: relative;
}

.separator::after{
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  display: inline-block;
  width: 35%;
  border: 2px solid #777777;
}

.separator-middle{
  display: inline-block;
  margin: 30px 0 0 0;
  width: 20%;
  border: 1px solid #CCCCCC;
  position: relative;
}

.separator-middle::after{
  content: '';
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 35%;
  border: 2px solid #777777;
}

.text-custom{
  color: #4527A4;
}

.sub-title{
  color: #777777;
}


/* ================================ End Utility =============================== */

/* Navbar */
.navbar-nav{
  font-weight: 600;
}

.navbar.sticky {
  background-color: #4527A4;
  padding-top: 10px;
  transition: all .3s ease;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

.navbar-dark .navbar-toggler{
  border: none;
}

.nav-link.active{
  color: #FFFFFF;
}

.nav-link{
  color: rgba(255,255,255,.5);
  transition: all .3s ease;
}

.nav-link:hover{
  color: #ff0000;
  transition: all .3s ease;
}

/* Hero */
.hero{
  background-color: white;
  background-image: url(../img/banner-1.png);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  height: auto;
  position: relative;
}

.hero::after{
  content: '';
  display: block;
  background-image: url(../img/vactor-1.png);
  position: absolute;
  z-index: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.hero-title{
  margin-top: 50px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4em;
  color: white;
}

.hero-sub-title{
  margin-top: 25px;
  color: white;
  font-weight: 500;
  line-height: 2em;
}

.hero .container{
  position: relative;
  z-index: 1;
}

.hero-img{
  position: relative;
}

.phone-1{
  position: relative;
  z-index: 2;
  width: 25vmax;
}

.phone-2{
  position: absolute;
  left: 21vmax;
  z-index: 1;
  width: 25vmax;
}

/* Features */
.sub-title{
  margin: 30px 0;
}

.card{
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.116);
}

.card-features{
  line-height: 2em;
  transition: all .3s ease;
}

.card-features:hover{
  background-color: #4527A4;
  transition: all .3s ease;
  color: #FFFFFF;
}

.card-features:hover .text-custom{
  color: #FFFFFF;
  transition: all .3s ease;
}

.card-title{
  margin: 30px 0;
}

.card-body-features{
  font-size: 14px;
}

/* Features Second */
#Features-second{
  background-image: url(../img/bg-shap-1.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding-bottom: 80px;
}

.card-features-second{
  border-radius: 0;
  padding: 60px 0;
  line-height: 2em;
  transition: all .3s ease;
}

.card-features-second:hover{
  background-color: #4527A4;
  color: #FFFFFF;
  transition: all .3s ease;
}

.card-features-second:hover .text-custom{
  color: #FFFFFF;
  transition: all .3s ease;
}

.amz-img{
  margin-bottom: 35px;
}

/* Mobile Section */
#Mobile{
  background-color: #F9F9F9;
}

.mobile-img{
  position: relative;
  margin-bottom: 120px;
}

.img-shap-1{
  position: relative;
}

.shap-1{
  position: absolute;
  top: 51%;
  left: 1%;
  max-width: 60%;
}

.app-img-front{
  position: absolute;
  top: 9%;
  left: 30%;
  z-index: 2;
  max-width: 60%;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.116);
}

.app-img-back{
  position: absolute;
  top: 32%;
  left: 14%;
  max-width: 60%;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.116);
}

/* Section Easy */
#Easy{
  background-color: #F9F9F9;
}

.easy-img{
  position: relative;
  margin-bottom: 200px;
}

.img-shap-2{
  position: relative;
}

.shap-2{
  position: absolute;
  top: 46%;
  right: 0%;
  max-width: 60%;
}

.dashbord-4{
  position: absolute;
  top: 13%;
  left: 16%;
  max-width: 60%;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.116);
}

.dashbord-3{
  position: absolute;
  top: 8%;
  right: 5%;
  z-index: 2;
  max-width: 60%;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.116);
}

/* Section Video */
#Video{
  background-color: #F9F9F9;
}

.video-bg{
  height: 450px;
  position: relative;
  background-color: #4527A4;
}

.video-bg img{
  opacity: 0.1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .video-bg::after{
  content: '';
  background-color: #4527A4;
  position: absolute;
  opacity: 0.9;
  left: 0;
  bottom: 0;
  width: 500px;
  height: 500px;
} */

.play-button{
  border: 6px solid #FFFFFF;
  background-color: rgba(68, 39, 164, 0.5);
  border-radius: 50%;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
}

.play-button::after{
  content: '';
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 50px solid rgb(255, 255, 255);
  border-bottom: 25px solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* .video-bg::before{
  content: '';
  border: 6px solid #FFFFFF;
  background-color: rgba(68, 39, 164, 0.5);
  border-radius: 50%;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
} */

.video-text-bg{
  background-color: #F9F9F9;
  position: relative;
}

.video-text{
  padding: 50px 20px;
  background-color: #FFFFFF;
  text-align: center;
}

/* Section Prices */
#Prices{
  padding-top: 80px;
}

.card-pricess{
  padding: 0;
  border: 1px solid #d1d1d1;
  border-radius: 0;
  box-shadow: none;
}

.card-body-prices{
  padding: 0;
  padding-bottom: 70px;
}

.title-prices{
  font-size: 24px;
  text-transform: uppercase;
  color: #767676;
}

.label-prices{
  width: 100%;
  height: 100px;
  background-color: #F1EDFE;
}

.label-title{
  font-size: 48px;
  font-weight: 600;
  color: #4626A5;
}

.card-text-prices{
  padding: 30px 90px 50px 90px;
}

.small-custom{
  font-size: 19.2px;
}

.dollar{
  font-size: 24px;
  color: #26232A;
  vertical-align: top;
  font-weight: 600;
}

.btn-purchase{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.basic::after{
  content: '';
  background-image: url(../img/price-icon-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: -80px;
  left: -40px;
  width: 165px;
  height: 175px;
  transform: scale(0.6);
}

.premium::after{
  content: '';
  background-image: url(../img/price-icon-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: -50px;
  left: -40px;
  width: 145px;
  height: 180px;
  transform: scale(0.6);
}

.profesional::after{
  content: '';
  background-image: url(../img/price-icon-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: -50px;
  left: -40px;
  width: 166px;
  height: 173px;
  transform: scale(0.6);
}

/* Button toggle */
.df-switch {
  margin-top: 90px;
  text-align: center;
}

.btn-toggle {
  top: 50%;
  transform: translateY(-50%);
}

.btn-toggle {
  margin: 0 4rem;
  padding: 0;
  position: relative;
  border: 1px solid #4527A4;
  height: 2.5rem;
  width: 6rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #ffffff;
}

.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
  outline: none;
}

.btn-toggle:before,
.btn-toggle:after {
  line-height: 1.5rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  position: absolute;
  color: #4527A4;
  bottom: 0;
  font-size: 16px;
  transition: opacity 0.25s;
}
.btn-toggle:before {
  content: 'Monthly';
  top: 0.5rem;
  left: -5.7rem;
}
.btn-toggle:after {
  content: 'Yearly';
  top: 0.5rem;
  right: -5rem;
  opacity: 0.5;
}

.btn-toggle > .handle {
  position: absolute;
  top: 0.1em;
  left: 0.2rem;
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 1.125rem;
  background: #4527A4;
  transition: left 0.25s;
}
.btn-toggle.active {
  transition: background-color 0.25s;
}
.btn-toggle.active > .handle {
  left: 3.6rem;
  transition: left 0.25s;
}
.btn-toggle.active:before {
  opacity: 0.5;
}
.btn-toggle.active:after {
  opacity: 1;
}
.btn-toggle.active {
  background-color: #FFFFFF;
}

/* Review */
#Review{
  padding-top: 80px;
  background-image: url(../img/testimonial-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

.review-bg{
  padding: 0 50px 50px 50px;
  margin-top: 100px;
  background-color: #FFFFFF;
  position: relative;
}

.review-bg::before{
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background-color: rgba(0, 0, 0, 0.05);
  width: 500px;
  height: 450px;
}

.review-bg::after{
  content: '';
  position: absolute;
  z-index: -1;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background-color: rgba(0, 0, 0, 0.05);
  width: 400px;
  height: 350px;
}

.review-thumb{
  margin-top: -90px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.1));
}

.review-bg .sub-title{
  padding-top: 20px;
  line-height: 2em;
}

.review-bg .separator{
  width: 10%;
  border: 1px solid #777777;
}

.review-bg .separator::after{
  display: none;
}

.job-title{
  font-weight: 500;
  padding-top: 20px;
  color: #4527A4;
}

.job-desc{
  color: #777777;
}

/* Section App */
.app{
  background-image: url(../img/shap-3.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom left;
  background-color: #4527A4;
  padding-top: 50px;
  padding-bottom: 0;
  margin: 0;
}

.title-app{
  color: #FFFFFF;
}

.separator-white{
  margin: 1rem 0;
  border-color: #FFFFFF;
}

.separator-white::after{
  border-color: #FFFFFF;
}

.sub-title-app{
  color: #FFFFFF;
  font-size: 17px;
  line-height: 2em;
}

.app .btn{
  padding: 10px 20px;
  max-width: 100%;
}

.button-app{
  background-color: transparent;
  border-radius: 10px;
}

.phone-app-1{
  position: relative;
  z-index: 2;
  filter: drop-shadow( 1px 1px 15px rgba(0, 0, 0, 0.116));
}

.phone-app-2{
  position: absolute;
  left: 100px;
  bottom: 0;
  z-index: 1;
}

/* News Section */
#News{
  padding-top: 100px;
  padding-bottom: 80px;
}

.card-news{
  box-shadow: none;
  overflow: hidden;
}

.card-img-top{
  transition: all .5s;
}

.card-news .card-body{
  padding: 1.5rem 0;
}

.card-news:hover img{
  transform: scale(1.1);
  transition: all .5s;
}

/* Section Subscribe */
.form-subscribe{
  border-radius: 30px;
  padding: 1.5em;
}

/* Footer */
#Footer{
  padding: 80px 0 10px 0;
  background-image: url(../img/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.footer-info{
  line-height: 2em;
}

.footer-title{
  font-size: 20px;
}

.footer-col .sub-title{
  margin: 20px 0;
}

.footer .separator{
  margin-top: 0;
  border-color: #4527A4;
  border-width: 1px;
}

.footer .separator::after{
  top: -1px;
  left: 110%;
  width: 10px;
  border-color: #4527A4;
  border-width: 1px;
}

.copyright{
  margin-top: 20px;
}

.footer-social{
  color: #6c757d;
}

.footer-social:hover{
  color: #4527A4;
}

/* Swiper Slider */
.swiper-container{
  padding-bottom: 80px;
}

.swiper-pagination-bullet{
  width: 10px;
  height: 10px;
  border-radius: 0;
  transition: all .2s;
}

.swiper-pagination-bullet-active{
  background: #959597;
  width: 45px;
  height: 5px;
  border-radius: 0;
}

/* Responsive Desktop */
@media (min-width: 992px) {
  /* Body */
  body{
    padding-top: 120px;
  }
  /* Navbar */
  .navbar{
    padding-top: 50px;
  }

  .navbar.bg-custom{
    background-color: transparent;
    transition: all .3s ease;
  }
  
  /* Hero */
  .hero{
    padding-bottom: 100px;
    margin-top: -160px;
    height: 1030px;
  }

  .hero-title{
    font-size: 48px;
  }

  .hero .container{
    margin-top: 270px;
  }

  /* Section Features */
  #Features{
    padding-top: 200px;
    padding-bottom: 80px;
  }

  .amz-img{
    margin-bottom: 0;
    filter: drop-shadow( 1px 1px 15px rgba(0, 0, 0, 0.3));
  }

  /* Section Features Second */
  .card-middle{
    margin-top: 80px;
  }

  /* Section Mobile */
  #Mobile{
    padding-bottom: 80px;
  }

  .mobile-img{
    margin-bottom: 0;
  }

  /* easy */
  #Easy{
  padding-bottom: 80px;
  }
  
  .easy-img{
    margin-bottom: 0;
  }

  /* Section Video */
  .video-bg{
    border-radius: 0 60px 60px 0;
    height: 750px;
  }

  .video-bg img{
    border-radius: 0 60px 60px 0;
  }

  .video-bg::after{
    border-radius: 0 60px 60px 0;
  }

  /* #Video .row{
    margin: 0;
  } */

  .video-text{
    text-align: left;
    background-color: #FFFFFF;
    margin-left: -100px;
    padding: 15% 42% 15% 15%;
    border-radius: 60px 0 0 60px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.116);
  }

  .video-text-bg{
    padding-right: 0;
  }

  /* Section Price switch button */
  /* .monthly-switch{
    padding-top: 70px;
  } */

  .df-switch {
    margin-top: 150px;
  }

  .basic::after{
    left: -60px;
    transform: scale(1);
  }

  .premium::after{
    left: -60px;
    transform: scale(1);
  }

  .profesional::after{
    left: -60px;
    transform: scale(1);
  }

  /* Review Section */
  #Review{
    padding-top: 200px;
    padding-bottom: 150px;
  }

  /* App Section */
  .app{
    padding-top: 150px;
    padding-bottom: 0;
  }

  /* Subscription Section */
  #Subscribe{
    padding-bottom: 100px;
  }

  /* Footer */
  #Footer{
    padding: 150px 0 20px 0;
  }
  
  .footer{
    padding-top: 150px;
  }

  .copyright{
    margin-top: 100px;
  }

  /* Swiper slide */
  .swiper-container{
    padding-bottom: 150px;
  }
}