@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

body{
  font-family: 'Ubuntu', sans-serif;
}

.btn{
  border-radius: 30px;
  border: 2px solid #FFFFFF;
  padding: 15px 50px;
  font-weight: 600;
}

.btn-primary{
  background-color: #4527A4;
}

.btn-primary:hover{
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  color: #4527A4;
}

.btn-outline-primary{
  border: 2px solid #4527A4;
  color: #4527A4;
  position: relative;
  padding-right: 80px;
}

.btn-outline-primary:hover{
  border: 2px solid #4527A4;
  background-color: #4527A4;
}

.btn-outline-primary::after{
  content: '﹥';
  font-size: 2em;
  color: #FFFFFF;
  position: absolute;
  background-color: #4527A4;
  border-radius: 50%;
  top: 0;
  right: 0;
  width: 54px;
  height: 54px;
}

.btn-learn{
  margin-top: 50px;
}

.bg-custom{
  background-color: #4527A4;
}

.separator{
  display: inline-block;
  margin: 30px 0 0 0;
  width: 17%;
  border: 2px solid #777777;
}

.text-custom{
  color: #4527A4;
}

.sub-title{
  color: #777777;
}


/* ================================ End Utility =============================== */

/* Navbar */
.navbar-nav{
  font-weight: 600;
}

/* Hero */
.jumbotron{
  background-color: white;
  background-image: url(../img/banner-1.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 1160px;
}

.jumbotron .title-hero{
  margin-top: 50px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4em;
  color: white;
}

.jumbotron .sub-title-hero{
  margin-top: 25px;
  color: white;
  font-weight: 500;
  line-height: 2em;
}

.hero-img{
  position: relative;
}

.phone{
  position: relative;
}

.phone2{
  position: absolute;
  top: -5%;
  left: 68%;
}

/* Features */
.sub-title{
  margin: 30px 0;
}

.card{
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.116);
}

.card-body{
  padding: 25px;
}

.card-title{
  margin: 30px 0;
}

/* Features Second */
#Features-second{
  background-image: url(../img/bg-shap-1.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  margin-top: 100px;
  padding-bottom: 80px;
}

.card-features-second{
  border-radius: 0;
  padding: 60px 0;
}

/* Mobile Section */
#Mobile{
  padding-bottom: 80px;
  background-color: #F9F9F9;
}

.mobile-img{
  position: relative;
  margin-bottom: 120px;
}

.img-shap-1{
  position: relative;
}

.shap-1{
  position: absolute;
  top: 51%;
  left: 1%;
  max-width: 60%;
}

.dashbord-1{
  position: absolute;
  top: 9%;
  left: 30%;
  z-index: 2;
  max-width: 60%;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.116);
}

.dashbord-2{
  position: absolute;
  top: 32%;
  left: 14%;
  max-width: 60%;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.116);
}

/* Section Easy */
#Easy{
  padding-bottom: 80px;
  background-color: #F9F9F9;
}

.easy-img{
  position: relative;
  margin-bottom: 200px;
}

.img-shap-2{
  position: relative;
}

.shap-2{
  position: absolute;
  top: 46%;
  left: 43%;
  max-width: 60%;
}

.dashbord-4{
  position: absolute;
  top: 13%;
  left: 16%;
  max-width: 60%;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.116);
}

.dashbord-3{
  position: absolute;
  top: 8%;
  right: 5%;
  z-index: 2;
  max-width: 60%;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.116);
}

/* Responsive Desktop */
@media (min-width: 992px) {
  /* Navbar */
  .navbar{
    padding-top: 50px;
  }

  .navbar.bg-custom{
    background-color: transparent;
  }
  /* Hero */
  .jumbotron{
    margin-top: -160px;
    height: 1030px;
  }

  .jumbotron .title-hero{
    font-size: 48px;
  }

  .jumbotron .container{
    margin-top: 270px;
  }
  /* Section Features */
  #Features{
    margin-top: 300px;
  }

  /* Section Features Second */
  .card-middle{
    margin-top: 80px;
  }

  /* Section Mobile */
  .mobile-img{
    margin-bottom: 0;
  }

  /* easy */
  .easy-img{
    margin-bottom: 0;
  }
}